<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{about.title}">Gitotg: About</title>
    <meta charset="UTF-8">
    <meta content="Mirko Ebert" name="author">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css" rel="stylesheet">
    <th:block th:insert="~{fragments/head :: favicons}"></th:block>
</head>
<body class="container mt-3 mt-md-5">
<div th:insert="~{fragments/navbar :: navbar}"></div>

<h1 class="text-center mb-4" th:text="#{about.heading}">About Gitotg</h1>

<ul class="list-group">
    <li class="list-group-item" th:text="#{about.item1}">Gitotg: Get It On The Green. It's not an Italian word, yet (2025). I checked it.</li>
    <li class="list-group-item" th:text="#{about.item2}">Helps to improve your Golf game. It tracks your handicaps. Focus on Short Game.</li>
    <li class="list-group-item" th:text="#{about.author}">Author: Mirko Ebert</li>
    <li class="list-group-item">
        <span th:text="#{about.bugs}">Bugs & Feature requests:</span>
        <a href="https://github.com/mirkoebert/gitotg" target="_blank" rel="noopener noreferrer">GitHub</a>
    </li>
    <li class="list-group-item">
        <span th:text="#{about.version}">Version:</span>
        <span th:text="${version}">0.0.0</span>
    </li>
</ul>

<h2 class="text-center mb-4" th:text="#{about.more}">Do you want more? Try this:</h2>
<ul class="list-group">
    <li class="list-group-item" th:text="#{about.rec.netflix}">Netflix: Full Swing</li>
    <li class="list-group-item" th:text="#{about.rec.rising}">Manga, Anime (Netflix): Rising Impact</li>
    <li class="list-group-item" th:text="#{about.rec.pelz}">David Pelz: Short Game Bible</li>
    <li class="list-group-item" th:text="#{about.rec.hogan}">Ben Hogan: Five Lessons: The Modern Fundamentals of Golf</li>
    <li class="list-group-item" th:text="#{about.rec.shell}">YouTube: Shell's Wonderful World of Golf</li>
    <li class="list-group-item" th:text="#{about.rec.mickelson}">Phil Mickelson: Secrets of the Short Game</li>
</ul>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
