<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>User details</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hero {
            background-color: #f8f9fa;
            padding: 5rem 0;
            text-align: center;
        }
        .hero h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        .hero p {
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }
    </style>
</head>
<body class="container mt-5">
<div th:insert="~{fragments/navbar :: navbar}"></div>


<h1 class="text-center mb-4">Gitotg: User details</h1>
<ol class="list-group">
    <li class="list-group-item"><img alt="user avatar" class="img-fluid rounded" th:src="@{${picture}}"></li>
    <li class="list-group-item">Name:           <span th:text="${name}"></span></li>
    <li class="list-group-item">Email:          <span th:text="${email}"></span></li>
    <li class="list-group-item">HCP:            <span th:text="${lastHCP}"></span></li>
    <li class="list-group-item">Short Game HCP: <span th:text="${lastSGHCP}"></span></li>
    <li class="list-group-item"><span th:text="${advice}"></span></li>
</ol>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
