<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{user.title}">User details</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <th:block th:insert="~{fragments/head :: favicons}"></th:block>
    <style>
        .user-avatar {
            max-width: min(160px, 40vw);
            height: auto;
        }
    </style>
</head>
<body class="container mt-3 mt-md-5">
<div th:insert="~{fragments/navbar :: navbar}"></div>


<h1 class="text-center mb-4" th:text="#{user.heading}">Gitotg: User details</h1>
<ol class="list-group">
    <li class="list-group-item" th:if="${picture != null}">
        <img class="user-avatar img-fluid rounded" th:alt="#{user.alt.avatar}" th:src="${picture}">
    </li>
    <li class="list-group-item" th:text="#{user.noPicture}" th:unless="${picture != null}">
        (no profile picture)
    </li>
    <li class="list-group-item"><span th:text="#{user.name}">Name:</span> <span th:text="${name}"></span></li>
    <li class="list-group-item"><span th:text="#{user.email}">Email:</span> <span th:text="${email}"></span></li>
    <li class="list-group-item"><span th:text="#{user.hcp}">HCP:</span> <span th:text="${lastHCP}"></span></li>
    <li class="list-group-item"><span th:text="#{user.sgiHcp}">Short Game HCP:</span> <span
            th:text="${lastSGHCP}"></span></li>
    <li class="list-group-item"><span th:text="#{user.break100}">Break 100 checklist:</span> <span
            th:text="${break100Progress}"></span>%
    </li>
    <li class="list-group-item"><span th:text="#{user.break90}">Break 90 checklist:</span> <span
            th:text="${break90Progress}"></span>%
    </li>
    <li class="list-group-item"><span th:text="#{user.break80}">Break 80 checklist:</span> <span
            th:text="${break80Progress}"></span>%
    </li>
    <li class="list-group-item"><span class="fw-bold" th:text="${advice}"></span></li>
    <li class="list-group-item"><span th:text="#{user.exportAll}">Export all data:</span> <a th:href="@{/api/export/all}"
            th:text="#{common.zip}">ZIP</a></li>
</ol>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>
